#bootstrap-override-index-body nav, #bootstrap-override-dayview-body nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: limegreen; 
}

#bootstrap-override-index-body .navbar-nav>.active>a,
#bootstrap-override-dayview-body .navbar-nav>.active>a{
    background-color: #ffff00;
}

.div-below-navbar{
    margin-top: 75px;
}

#calendar-table, #tasklist-table{
    table-layout: fixed;
    width: auto;
    margin: auto;
    text-align: center;
}
    
#calendar-table caption, #calendar-table th,
#tasklist-table caption, #tasklist-table th{
    text-align: center;
}

#calendar-table caption,
#tasklist-table caption{
    font-size: 2em;
}

#bootstrap-override-index-body .sidebar,
#bootstrap-override-dayview-body .sidebar{
    position: fixed;
    top: 75px;
    right: 0;
    text-align: center;
}

.sidebar-separator{
    float: left;
    width: 3px;
    height: 85vh;
    background-color: green;
}

#bootstrap-override-index-body .statistics-table,
#bootstrap-override-dayview-body .statistics-table{
    margin: auto;
    margin-bottom: 75px;
    margin-left: 10px;
    width: auto;
    text-align: left;
}

.statistics-table caption{
    font-size: 1.4em;
    color: darkolivegreen;
}

.right-aligned-column{
    text-align: right;
}

form{
    margin-left: 10px;
}


/* *********************************************************************** */


#calendar-table th{
    width: 100px;
}

#calendar-table tr{
    height: 56px;
}


/* *********************************************************************** */


#tasklist-table .smaller-column{
    width: 100px;
}

#bootstrap-override-dayview-body .edit-button{
    background-color: aqua;
}

#add-button-in-dayview{
    margin-top: 30px;
    max-width: 150px;
    background-color: green;
}

#task-adding-form{
    visibility: hidden;
    margin-top: 50px;
}

#bootstrap-override-dayview-body .task-adding-form-group{
    width: 60%;
}

#bootstrap-override-dayview-body .short-input-field{
    width: 30%;
}

#new-task-submit-button{
    margin: 20px auto 20px auto;
    width: 80px;
}

#day-changing-form{
    visibility: hidden;
}

#day-changing-form-group{
    width: 90%;
}
